.strategy-type {
	width: 100%;
	overflow: hidden;
	height: 5vh;
	line-height: 5vh;
	vertical-align: middle;
	text-align: center;
}

.el-tag {
	border-radius: 5px !important;
	font-size: 13px;
	margin-left: 5px
}

// .progress-bar {
// 	background-color: #196B54
// }

.premium-tint {
	// background-color: rgba(53, 212, 37, 0.1);
	background-color: rgba(53, 212, 37, 0.2);
}